/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CONTAINER */

.carousel-container {
    width: 1000%;
    max-width: 1000px;
    margin: auto;
    height: 400px;
    display: flex;
}

.current-image{
    width: 75%;
    position: relative;
}

.current-image-text{
    color: white;
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 0;
    padding: 20px;
}

.thumbs{
    width: 25%;
    position: relative;

}

.thumb.active{
    border: 3px solid white;
}

.thumb:not(.active) {
    filter: grayscale(1);
}
.thumb{
    height: 20%;
}

.current-image img, .thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.prev-slide, .next-slide{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    position: absolute;
    z-index: 10;
    left: calc(50% - 15px);
    cursor: pointer;
}

.prev-slide{
    top: 15px;
}

.next-slide{
    bottom: 15px;
}